.navigation {
	background-color: deepskyblue;
	display: flex;
	list-style: none;
	justify-content: flex-end;
	font-weight: 500;
	letter-spacing: 2px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a {
	color:white;
	text-decoration: none;
	padding: 1em;
	display: block;
}

a:hover {
	background: skyblue;
}

.content {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: space-between;
}

.project {
	background-color: tomato;
	color: white;
	height: 100px;
	width: 47%;
	margin: 10px;
	font-weight: bold;
    font-size: 3em;
    text-align: center;
}

@media (max-width: 800px) {
	.navigation {
		justify-content: space-around;
	}

	.content {
		flex-flow: column wrap;
	}

	.project {
		width: 100%;
		margin: 5px;
		margin-left: 0;
		margin-right: 0;
	}

	.project:first-of-type {
		margin-top: 0px;
	}
}

@media (max-width:500px) {
	.navigation {
		flex-flow: column wrap;
	}

	.navigation a {
      text-align: center;
      padding: 10px;
      border-top: 1px solid rgba(255,255,255,0.3);
      border-bottom: 1px solid rgba(0,0,0,0.1);
  	}

  	.navigation li:last-of-type a {
  		border-bottom: none
  	}

}