body {
	font-family: 'Nunito', sans-serif;
}
h1 { font-size: 24px;}
h2 { font-size: 22px;}
h3 { font-size: 18px;}
h4 { 
	font-size: 16px;
}
h5 { font-size: 12px;}
h6 { font-size: 10px;}

.header {
	background-color: deepskyblue;
}

.navigation {
	display: flex;
	list-style: none;
	justify-content: flex-end;
	font-weight: 500;
	letter-spacing: 2px;
}

.mobile-nav {
	 padding: 1.3em;
	 display:none;
}

.burger-btn {
	position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    height: 20px;
}

.burger-btn	span {
	display:block;
	width: 19px;
	height:3px;
	margin: 4px 0;
	background: rgb(244,244,244);
	z-index: 99;
}

a {
	color:white;
	text-decoration: none;
	padding: 1em;
	display: block;
}

a:hover {
	background: skyblue;
}

.expand {
		display: block !important; 
}

.content {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: space-between;
	background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.project {
	background-color: white;
	width: 47%;
	margin: 10px;
	font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.image-container {
	height:400px;
	position: relative;
	display: flex;
	justify-content:center;
	align-items:center;
	overflow:hidden;
}

.project-image {
	flex-shrink:0;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;

}

.image-cta {
	position: absolute;
	background: purple;
	color: #fff;
	top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    padding: 175px;
}

.image-container:hover .image-cta {
	visibility: visible;
	opacity: 1;
}

.project-desc {
	display:flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
	padding: 60px;
}

.project-desc h1 {
	margin-bottom: 30px;
}

.project-desc h4 {
	text-align: left;
	line-height: 25px;
}

@media (max-width: 800px) {
	.navigation {
		justify-content: space-around;
	}

	.content {
		flex-flow: column wrap;
	}

	.project {
		width: 100%;
		margin: 5px;
		margin-left: 0;
		margin-right: 0;
	}

	.project:first-of-type {
		margin-top: 0px;
	}
}

@media (max-width:500px) {
	.navigation {
		flex-flow: column wrap;
	}

	.navigation a {
      text-align: center;
      padding: 10px;
      border-top: 1px solid rgba(255,255,255,0.3);
      border-bottom: 1px solid rgba(0,0,0,0.1);
  	}

  	.navigation li:last-of-type a {
  		border-bottom: none
  	}

  	.project-desc {
  		display: none;
  	}

  	.project {
  		margin: 0px;
  	}

  	.mobile-nav {
  		display: inline-block;
  	}

  	.responsive-menu{
		display: none;
	}

}